section.exemple {
  display: flex;
}
section.exemple .code {
  width: 60%
}

img.exemple {
  width: 200px;
  height: 200px;
}

.filter-grayscale {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.filter-grayscale:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.filter-sepia {
  filter: sepia(1);
  -webkit-filter: sepia(1);
}
.filter-sepia:hover {
  filter: sepia(0);
  -webkit-filter: sepia(0);
}

.filter-blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}
.filter-blur:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.filter-drop-shadow {
  filter: drop-shadow(5px 5px 10 black);
  -webkit-filter: drop-shadow(5px 5px 10 black);
}
.filter-drop-shadow:hover {
  filter: drop-shadow(0);
  -webkit-filter: drop-shadow(0);
}

.filter-saturate {
  filter: saturate(600%);
  -webkit-filter: saturate(600%);
}
.filter-saturate:hover {
  filter: saturate(100%);
  -webkit-filter: saturate(100%);
}

.filter-hue-rotate {
  filter: hue-rotate(150deg);
  -webkit-filter: hue-rotate(150deg);
}
.filter-hue-rotate:hover {
  filter: hue-rotate(0);
  -webkit-filter: hue-rotate(0);
}

.filter-invert {
  filter: invert(1);
  -webkit-filter: invert(1);
}
.filter-invert:hover {
  filter: invert(0);
  -webkit-filter: invert(0);
}

.filter-opacity {
  filter: opacity(10%);
  -webkit-filter: opacity(10%);
}
.filter-opacity:hover {
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
}

.filter-brightness {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
.filter-brightness:hover {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.filter-contrast {
  filter: contrast(50%);
  -webkit-filter: contrast(50%);
}
.filter-contrast:hover {
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
}